.nav {
  display: grid;
  grid-template-columns: 60.4% 5% 1fr;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 11px 20px;
  border-radius: 0px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.nav a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.nav a:first-child {
  justify-content: flex-end;
  margin-right: 29px;
}
.nav a:last-child {
  justify-content: center;
}

.nav input {
  background-color: transparent;
}

.nav a:not(:last-child) {
  margin-bottom: 0px;
}

.zNoeh {
  display: none;
}
